{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="container">
    <div class="form-box">
        <h1>Log-in</h1>
        <p>Please use the following form to login:</p>
        <form action="." method="post">
          
                {{ form.as_p }}
                {% csrf_token %}
          
            <div class="btn-field">
                <p><input type="submit" value="Log in"></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
